<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DIN_BlackAlternate_Regular.otf</string>
		<string>DIN_Alternate_Medium.otf</string>
		<string>DIN_Alternate_Regular.otf</string>
	</array>
</dict>
</plist>
